<div class="row" *ngIf="winner === 0">
  <button (click)="restart()" class="btn btn-default btn-block">
    Restart Game
  </button>

  <div class="text-center">
    <h3 *ngIf="game.isPlayerOne()">Player 1 turn!</h3>
    <h3 *ngIf="game.isPlayerTwo()">Player 2 turn!</h3>
  </div>

</div>

<div class="grid">
  <div class="container">
    <div *ngIf="winner !== 0" class="row winner-row">
      <p>Player {{winner}} has won !</p>
        <button type="button" class="col-xs-12 btn again" (click)="playAgain()"><i class="glyphicon glyphicon-equalizer"></i> Play again</button>
    </div>

    <div *ngIf="winner === 0">
      <div class="row selection-row">
        <div (mouseover)="show(i)" (click)="add(i)" class="selection-case" *ngFor="let piece of pieces; let i = index">
          <div *ngIf="piece.visible" class="circle" [ngClass]="{'red': game.isPlayerOne(), 'yellow': game.isPlayerTwo()}"></div>
        </div>
      </div>

      <div class="row custom-row" *ngFor="let row of game.grid">
        <div class="case" (mouseover)="show(i)" (click)="add(i)" *ngFor="let case of row; let i = index">
          <div class="circle" [ngClass]="{'white': case.isEmpty(), 'red': case.isRed(), 'yellow': case.isYellow()}"></div>
        </div>
      </div>
    </div>
  </div>
</div>
